:root {
  /* === Colors === */
  --primary: #b1bfca;
  --gradient: #ECEFF1;
  --background: #ECEFF1;
  --bookmark-icon: #b1bfca;
  --bookmark-icon--filling: #CFD8DC;

  --text-color1: #0a0a0ade;
  --text-color2: #424242;
  --shadow: #888888;

  /* === Paddings === */
}
